<head>
    <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">
</head>
<body>
  <h2 class="pikapika"> 動画共有アプリケーション　モービー</h2>
  <h1 class="user-top">Mobee</h1>
  <section class="w">
    <div class="w-head">
      <i class="w-eye"></i>
      <i class="w-eye w-eye_right"></i>
    </div>
    <div class="w-arm"></div>
    <div class="w-arm w-arm_right"></div>
    <div class="w-leg">
      <div class="w-leg-top"></div>
      <div class="w-leg-bottom">
        <div class="w-heel"></div>
        <div class="w-shoelace"></div>
        <div class="w-shoelace"></div>
      </div>
    </div>
    <div class="w-leg w-leg_right">
      <div class="w-leg-top"></div>
      <div class="w-leg-bottom">
        <div class="w-heel"></div>
        <div class="w-shoelace"></div>
        <div class="w-shoelace"></div>
      </div>
    </div>
    <div class="w-body">
      <div class="w-body-skin"></div>
      <div class="w-body-nipples"></div>
      <a href="https://diveintocode.jp/" target="_blank">
        <p style="font-family: Pattaya; font-size:45px; color:#f0f8ff">Mobee</p>
      </a>
    </div>
  </section>
</body>
