<h1>Favorite</h1>

        <% #if @favorite_blogs.present? %>
            <%# @favorite_blogs.each do |t| %>
              <!--
                <div class="box-title">writer：<#%= t.user.name %></div>
                <div class="box-title">Title：<#%= t.title %></div>
                <p><#%= t.content %></p>
            -->
            <% #end %>
        <% #end %>