.movie-top {
    color: #f0ffff; /* 文字色 */
    margin: 0 auto;
    width: 25%;
    padding-top: 5%;
    font-size: 80px;
    font-family: "Pattaya";
    text-align: center;
    height: 50px;
}

.movie-show {
    margin-top:50PX;
    text-align: center;
    color: #f0ffff; /* 文字色 */
    font-size: 30px;
    font-family: "Pattaya";
}


.movie-bottom {
    color: #f0ffff; /* 文字色 */
    margin: -30 auto;
    font-size: 30px;
    font-family: "Pattaya";
    height: 100px;
}