body {
margin:0;
background: #83ccd2;  /* fallback for old browsers */
} 

.login-top {
    color: #f0ffff; /* 文字色 */
    margin: 0 auto;
    width: 25%;
    padding-top: 5%;
    font-size: 95px;
    font-family: "Pattaya";
    text-align: center;
}

.login-bottom {
    color: #f0ffff; /* 文字色 */
    margin: 0 auto;
    padding-top: 5%;
    font-size: 50px;
    font-family: "Pattaya";
}
