body {
margin:0;
background: #83ccd2;  /* fallback for old browsers */
}

.signup-top {
    color: #f0ffff; /* 文字色 */
    margin: 0 auto;
    width: 25%;
    padding-top: 5%;
    font-size: 80px;
    font-family: "Pattaya";
    text-align: center;
    height: 50px;
}

.signup-bottom {
    color: #f0ffff; /* 文字色 */
    margin: 0 auto;
    width: 30%;
    padding-top: 3%;
    font-size: 50px;
    font-family: "Pattaya";
    text-align: center;
}

.profile-top {
    color: #f0ffff; /* 文字色 */
    font-size: 30px;
    font-family: "Pattaya";
}

